<% @animals.each do |animal| %>
  <p>Name: <%= animal.name %></p>
  <p>Type: <%= animal.type %></p>
  <p>Breed: <%= animal.breed %></p>
  <p>Admission Date: <%= animal.admission_date.to_s() %></p>
  <p>Ready for Adoption: <%= animal.is_adoptable?() %></p>
<% end %>

<!-- TODO: add img & button to update animal -->
