<% @animals.each do |animal| %>
  <div class="container">
    <img class="animal_pic" src="<%= animal.photo %>">
    <p><b>Name: </b></p><%= animal.name %></p>
    <p><b>Type: </b><%= animal.type %></p>
    <p><b>Breed: </b><%= animal.breed %></p>
    <p><b>Admission Date: </b><%= animal.admission_date.to_s() %></p>
    <p><b>Ready for Adoption: </b><%= animal.is_adoptable?() %></p>
    <p><b>Animal ID: </b><%= animal.id.to_s()%>
    <p><a id="button" href="/animals/<%= animal.id %>/edit">Edit Details</a></p>
  </div>
<% end %>
