<% @adoptions.each do |adoption|%>
<p>First Name: <%= adoption.first_name%></p>
<p>Last Name: <%= adoption.last_name%></p>
<p>Animal Name: <%= adoption.name%></p>
<p>Animal Type: <%= adoption.type%></p>
<p>Date of Adoption: <%= adoption.adoption_date%></p>
<p>Customer Check-up Date <%= adoption.checkup_date%></p>
<% end %>
