<table style="width:100%">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Animal Name</th>
    <th>Animal Type</th>
    <th>Date of Adoption</th>
    <th>Check-Up Date</th>
  </tr>

<% @adoptions.each do |adoption|%>
<tr>
<td><%= adoption.first_name%></td>
<td><%= adoption.last_name%></td>
<td><%= adoption.name%></td>
<td><%= adoption.type%></td>
<td><%= adoption.adoption_date%></td>
<td><%= adoption.checkup_date%></td>
</tr>
<% end %>
</table>
