<form method="post" action="/customers/<%= @customer.id %>">

  <label for "first_name">First Name:</label>
  <input type="text" name="first_name" id="first_name" value="<%= @customer.first_name %>" />

  <label for "last_name">Last Name:</label>
  <input type="text" name="last_name" id="last_name" value="<%= @customer.last_name %>" />

  <label for "phone">Phone Number: </label>
  <input type="phone" name="phone" id="phone" value="<%= @customer.phone %>" />

  <label for "email">Email Address:</label>
  <input type="email" name="email" id="email" value="<%= @customer.email %>" />

  <label for "address_line_1">Address Line 1:</label>
  <input type="address_line_1" name="address_line_1" id="address_line_1" value="<%= @customer.address_line_1 %>"

  <label for "address_line_2">Address Line 2:</label>
  <input type="address_line_2" name="address_line_2" id="address_line_2" value="<%= @customer.address_line_2 %>"

  <label for "address_city">Address Line 2:</label>
  <input type="address_city" name="address_city" id="address_city" value="<%= @customer.address_city %>"

  <label for "address_post_code">Address Line 2:</label>
  <input type="address_post_code" name="address_post_code" id="address_post_code" value="<%= @customer.address_post_code %>" />

  <input type="submit" value="Edit Customer">
</form>
